{% extends "bootstrap/base.html" %}

{% block content %}
    <div style="text-align: center;">
        <h1>Question 6:</h1>
        <h3>At what age should I start caring about the environment?</h3>
        <form method="post">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="answer" id="exampleRadios1" value="1" checked>
                <label class="form-check-label" for="exampleRadios1">
                    4.5 billion (Only choose this answer if you are the planet earth)
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="answer" id="exampleRadios2" value="2">
                <label class="form-check-label" for="exampleRadios2">
                    Pretty young if you want to win a nobel prize
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="answer" id="exampleRadios3" value="3">
                <label class="form-check-label" for="exampleRadios3">
                    7
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="answer" id="exampleRadios4" value="4">
                <label class="form-check-label" for="exampleRadios4">
                    Age got nothing to do with. Everyone should care!
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="answer" id="exampleRadios4" value="5">
                <label class="form-check-label" for="exampleRadios4">
                    46
                </label>
            </div>
            <input type="submit" class="btn btn-success"/>       
        </form>


    </div>


{% endblock %}
